---
import { GameM } from "../components/GameM";
import Layout from "../layouts/Layout.astro";
const cookie = Astro.request.headers.get('cookie')

if(cookie === null){
    return Astro.redirect('/minesweeper')
} 

---

<Layout
    style="bg-slate-700 flex flex-wrap justify-center items-center h-[100vh]"
>
    <div class="w-[100%] h-[650px] flex justify-center items-center text-white">
        <GameM client:only />
    </div>
</Layout>
