---
// import { Game } from "../components/Game";
import { Game } from "../components/Game";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Minesweeper</title>
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1831361742385040"
			crossorigin="anonymous"
		></script>
	</head>
	<body
		class="bg-green-700 flex flex-wrap justify-center items-center h-[100vh]"
	>
		<div class="w-[100%] flex justify-center items-center">
			<h1 class="text-3xl text-white font-bold">Minesweeper</h1>
		</div>

		<div
			class="w-[100%] h-[650px] flex justify-center items-center text-white"
		>
			<Game client:only />
		</div>
		<!-- <div class="w-[100%] h-[650px] flex  flex-col gap-3 justify-center items-center">
			<section class=" ">
				<form  action="/minesweeper/play_game" class="flex flex-col items-center gap-2">
					
					<input type="text" id="username" placeholder="Username">
					
					<input type="password" name="" id="" placeholder="Password">
					<input type="submit" value="Login">
				</form>

			</section>
			
			<a href="/minesweeper/play_game">Sign Up</a>
		</div> -->
	</body>
</html>
