---
import { Game } from "../components/Game";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Minesweeper</title>
	</head>
	<body
		class="bg-green-700 text-white flex flex-wrap justify-center items-center h-[100vh]"
	>
		<div class="w-[100%] flex justify-center items-center">
			<h1 class="text-3xl font-bold">Minesweeper</h1>
		</div>
		<div class="w-[100%] h-[650px] flex justify-center items-center">
			<Game client:visible />
		</div>
	</body>
</html>
