---
// import { Game } from "../components/Game";
import { Game } from "../components/Game";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Minesweeper</title>
	</head>
	<body
		class="bg-slate-700 flex flex-wrap justify-center items-center h-[100vh]"
	>
		<div
			class="w-[100%] h-[650px] flex justify-center items-center text-white"
		>
			<Game client:only />
		</div>
	</body>
</html>
